.itemNoteContainer {
    list-style: none;
    width: 100%;
    font-size: 1.15rem;
    color: rgb(119, 119, 119);
    cursor: pointer;
    border-bottom: solid rgba(172, 172, 172, 0.3);
    border-width: 1.25px 0px;
    padding: 0rem 0rem 0.10rem 1rem;
    box-sizing: border-box;
    transition: 0.25s;
}

.itemNoteContainer:hover {
    background: #cacaca;
    color: white;
    font-weight: bold;
}

.itemNoteContainer.selected {
    background: #cacaca;
    color: white;
    font-weight: bold;
}

.itemNote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.itemNote.add {
    justify-content: flex-start;
}

.itemNoteContainer .itemNote .icon {
   margin: 0 2rem 0 0; 
}

a.item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}


.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.color {
    display: flex;
    min-width: 3rem;
    max-width: 3rem;
    height: 100%;

}