.note-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.note-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.note-form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 50%;
    background: purple;
    padding: 0.5rem 1rem;
}

.note-form .title {
    padding: 0.1rem 1rem;
    box-sizing: border-box;
    border: none;
    font-size: 3rem;
    width: 100%;
    margin: 0rem;
}

.note-form .content {
    padding: 1rem 1rem;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    border: none;
    margin: 0rem;
}

.note-form .send-note {
    position: absolute;
    right: 50%;
    bottom: 0%;
}

.note-form .send-note button {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    background: rgb(28, 148, 4);
    color: white;
    font-size: 2rem;
    margin: 1.5rem 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0.15rem 0.15rem 7px 0px rgba(0,0,0,0.7);
}

.note-form .send-note button i { 
}

.preview {
    width: 50%;
    background: red;
}