.button-blue {
	background-color:#599bb3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	margin-left: 10px;
}

.button-blue:hover {
	background-color:#408c99;
}

.button-blue:active {
	position:relative;
	top:1px;
}

input {
	box-shadow: 0 0 3px #ffffff; 
	margin: 10px 
}

.valid {
	box-shadow: 0 0 3px #24e264; 
	margin: 10px 
}

.invalid {
	box-shadow: 0 0 3px #f0291b; 
	margin: 10px 
}