.button-blue {
	background-color:#599bb3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight: 600;
	font-family:Arial;
	font-size:1.5rem;
	text-decoration:none;
	margin: 10px;
	width: 20rem;
	height: 4rem;
	transition: all .5s ease;
}

.button-blue:hover {
	background-color:#56b0d1;
}

.button-blue:active {
	position:relative;
	top:1px;
}
